@import './reset.scss';
@import './variables.scss';
@import './themes/light.scss';

body {
  font: var(--font-m);
  color: var(--color-text-primary);
}

.app {
  background: var(--color-background-main);
  min-height: 100vh;
}
