:root {
  // PRIMARY COLORS
  --color-primary: #352452;
  --color-primary-selected: #c2b7d4;
  --color-primary-light: #9082ce;

  // SECONDARY COLORS
  --color-secondary: #7da2d3;
  --color-secondary-selected: #cbd8e9;

  // BACKGROUND COLORS
  --color-background-main: #dddcdc;
  --color-background-content: #f7f6f5;

  // TEXT COLORS
  --color-text-primary: #252422;
  --color-text-primary-light: #f7f6f5;
}
