.todayCell {
  background: var(--chakra-colors-secondarySelected);
  box-shadow: inset 0px 6px var(--chakra-colors-secondary);

  &:hover {
    background: var(--chakra-colors-secondarySelected);
  }
}

.differentMonth {
  color: grey;
}

.selected {
  background: var(--chakra-colors-primarySelected);
  box-shadow: inset 0px 6px var(--chakra-colors-primary);

  &:hover {
    background: var(--chakra-colors-primarySelected);
  }
}
